<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title %></title>
    <link href="assets/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css"rel="stylesheet" type="text/css">
</head>
<body>
    <div class="al-doc">
        <div class="doc-wrap">
            <div class="doc-render" style="height: 899px; width: 1334px;">
                <div class="doc-padding">
                    <div class="title none">
                        <h1><% title %></h1>
                        <div class="titleInfo">
                            <span>文/韩寒</span>
                            <span>2017-09-21</span>
                            <span>1222阅读</span>
                            <span>评论(1)</span>
                            <span>18赞</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="test">
                            <%- content %>
                        </div>
                    </div>
                </div>
                <div class="thrumb none">
                    <div class="title">
                        <h1>把时间当作朋友</h1>
                    </div>
                    <div class="tab">
                        <div class="tabwrap">
                            <span class="active">目录</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="tabcontent">
                        <div class="tabc">
                            <ul>
                                <li><a href="javascript:void(0)" class="j-itm" page_from="2" page_to="2">版权信息<span>2</span></a></li>
                                <li><a href="javascript:void(0)" class="j-itm" page_from="2" page_to="2">困境<span>2</span></a></li>
                                <li><a href="javascript:void(0)" class="j-itm" page_from="2" page_to="2">问题<span>2</span></a></li>
                                <li>
                                    <a href="javascript:void(0)" class="j-itm" page_from="2" page_to="2">解决<span>2</span></a>
                                    <ul class="subTabc">
                                        <li>
                                            <a href="javascript:void(0)" class="j-itm" page_from="2" page_to="2">sub Title<span>2</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="icon close"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>